.filterContent {
  display: flex;
  width: 650px;
  justify-content: space-between;
}

.cardContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;

  .card {
    width: 200px;
    box-shadow: 5px 5px 15px 5px rgb(0 0 0 / 13%);
    margin: 10px;
    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
    }

    p {
      margin: 5px;
    }
  }
}